<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--    <property name="connection.url">jdbc:mysql://localhost:3306/my_db?useSSL=false&amp;serverTimezone=UTC</property>-->
        <!--    <property name="connection.url">jdbc:mysql://localhost:3306/my_db?useSSL=false&amp;serverTimezone=UTC</property>-->

        <!--    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->

        <property name="connection.url">jdbc:mysql://db4free.net/ppzeffdb?useSSL=false&amp;serverTimezone=UTC</property>
<!--        <property name="connection.url">jdbc:mysql://db4free.net/ppzeffdb</property>-->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">ppzeff</property>
        <property name="connection.password">cb46e6f1</property>
<!--        <property name="connection.url">jdbc:postgresql://192.168.1.113:5432/my_db</property>-->
<!--        <property name="connection.driver_class">org.postgresql.Driver</property>-->
<!--        <property name="connection.username">postgres</property>-->
<!--        <property name="connection.password">newpassword</property>-->


        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>

    </session-factory>
</hibernate-configuration>